USE [TRANSPORTE]
GO
/****** Object:  Table [dbo].[ASISTENTES_CONDUCTOR]    Script Date: 14/05/2020 19:56:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASISTENTES_CONDUCTOR](
	[ID_ASISTENTE_CONDUCTOR] [int] IDENTITY(1,1) NOT NULL,
	[ID_DATOS_EMPLEADO] [int] NOT NULL,
	[NUM_ASISTENTE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ASISTENTE_CONDUCTOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATENCION_PASAJEROS]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATENCION_PASAJEROS](
	[ID_ATENCION_PASAJERO] [int] IDENTITY(1,1) NOT NULL,
	[ID_DATOS_EMPLEADO] [int] NOT NULL,
	[NUM_VENTANILLA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ATENCION_PASAJERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOLETOS]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOLETOS](
	[ID_BOLETO] [int] IDENTITY(1,1) NOT NULL,
	[NUM_BOLETO] [int] NOT NULL,
	[ID_BUS] [int] NOT NULL,
	[ID_RUTA] [int] NOT NULL,
	[ID_TIPO_BUS] [int] NOT NULL,
	[VIGENCIA] [bit] NOT NULL,
	[COSTO_BOLETO] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_BOLETO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOLETOS_PASAJEROS]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOLETOS_PASAJEROS](
	[ID_BOLETOS_PASAJERO] [int] IDENTITY(1,1) NOT NULL,
	[ID_BOLETO] [int] NOT NULL,
	[ID_PASAJERO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_BOLETOS_PASAJERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BUSES]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BUSES](
	[ID_BUS] [int] IDENTITY(1,1) NOT NULL,
	[MODELO] [varchar](30) NOT NULL,
	[SERIE] [varchar](30) NOT NULL,
	[NO_MATRICULA] [varchar](12) NOT NULL,
	[NO_PLACA] [varchar](12) NOT NULL,
	[PRECIO_MATRICULA] [float] NOT NULL,
	[CAPACIDAD_CARGA] [float] NOT NULL,
	[ESTADO_MATRICULA] [bit] NOT NULL,
	[CAPACIDAD_PASAJEROS] [int] NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
	[ID_RUTA_ASIGNADO] [int] NOT NULL,
	[ID_CONDUCTOR_ASIGNADO] [int] NOT NULL,
	[ID_ASISTENTE_CONDUCTOR] [int] NOT NULL,
	[ID_TIPO_BUS] [int] NOT NULL,
	[ID_SUCURSAL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_BUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BUSES_COLORES]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUSES_COLORES](
	[ID_BUS_COLORES] [int] IDENTITY(1,1) NOT NULL,
	[ID_BUS] [int] NOT NULL,
	[ID_COLOR] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_BUS_COLORES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COLORES]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COLORES](
	[ID_COLORES] [int] IDENTITY(1,1) NOT NULL,
	[COLOR] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COLORES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMODIDADES_BUS]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMODIDADES_BUS](
	[ID_COMODIDAD_BUS] [int] IDENTITY(1,1) NOT NULL,
	[COMODIDAD_BUS] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COMODIDAD_BUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONDUCTORES]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONDUCTORES](
	[ID_CONDUCTOR] [int] IDENTITY(1,1) NOT NULL,
	[ID_DATOS_EMPLEADO] [int] NOT NULL,
	[ACTIVO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CONDUCTOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CORREOS_DATOS_EMPLEADOS]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CORREOS_DATOS_EMPLEADOS](
	[ID_CORREO_DATOS_EMPLEADO] [int] IDENTITY(1,1) NOT NULL,
	[ID_DATOS_EMPLEADO] [int] NOT NULL,
	[CORREO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CORREO_DATOS_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_CORREOS_DATOS_EMPLEADOS] UNIQUE NONCLUSTERED 
(
	[ID_DATOS_EMPLEADO] ASC,
	[CORREO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DATOS_EMPLEADOS]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DATOS_EMPLEADOS](
	[ID_DATOS_EMPLEADO] [int] IDENTITY(1,1) NOT NULL,
	[ID_DATOS_PERSONA] [int] NOT NULL,
	[CONTRASENIA] [varbinary](max) NOT NULL,
	[ID_HORARIO] [int] NOT NULL,
	[SUELDO] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DATOS_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DATOS_PERSONAS]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DATOS_PERSONAS](
	[ID_DATOS_PERSONA] [int] IDENTITY(1,1) NOT NULL,
	[PRIMER_NOMBRE] [varchar](20) NOT NULL,
	[SEGUNDO_NOMBRE] [varchar](20) NULL,
	[PRIMER_APELLIDO] [varchar](20) NOT NULL,
	[SEGUNDO_APELLIDO] [varchar](20) NULL,
	[NO_IDENTIDAD] [varchar](15) NOT NULL,
	[FECHA_NACIMIENTO] [date] NOT NULL,
	[GENERO] [varchar](1) NOT NULL,
	[ESTADO_CIVIL] [varchar](25) NOT NULL,
	[FOTOGRAFIA] [image] NULL,
	[ID_DIRECCION] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DATOS_PERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIRECCIONES]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIRECCIONES](
	[ID_DIRECCION] [int] IDENTITY(1,1) NOT NULL,
	[DEPARTAMENTO] [varchar](25) NULL,
	[MUNICIPIO] [varchar](25) NULL,
	[CIUDAD] [varchar](25) NULL,
	[DESCRIPCION] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DIRECCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPRESA_SOCIOS]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESA_SOCIOS](
	[ID_EMPRESA_SOCIO] [int] IDENTITY(1,1) NOT NULL,
	[ID_EMPRESA] [int] NOT NULL,
	[ID_SOCIO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_EMPRESA_SOCIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPRESAS]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPRESAS](
	[ID_EMPRESA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_EMPRESA] [varchar](50) NOT NULL,
	[LOGO_EMPRESA] [image] NULL,
	[ID_DIRECCION] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPRESAS_BUSES]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESAS_BUSES](
	[ID_EMPRESA_BUSES] [int] IDENTITY(1,1) NOT NULL,
	[ID_EMPRESA] [int] NOT NULL,
	[ID_BUS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_EMPRESA_BUSES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ESTADOS_BUS]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESTADOS_BUS](
	[ID_ESTADO_BUS] [int] IDENTITY(1,1) NOT NULL,
	[ESTADO_BUS] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO_BUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GUARDIAS]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GUARDIAS](
	[ID_GUARDIA] [int] IDENTITY(1,1) NOT NULL,
	[ID_DATOS_EMPLEADO] [int] NOT NULL,
	[NOMBRE_EMPRESA_SEGURIDAD] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_GUARDIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HORARIOS]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HORARIOS](
	[ID_HORARIO] [int] IDENTITY(1,1) NOT NULL,
	[HORA_ENTRADA] [time](7) NOT NULL,
	[HORA_SALIDA] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_HORARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LICENCIA_CONDUCTORES]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICENCIA_CONDUCTORES](
	[ID_LICENCIA_CONDUCTOR] [int] IDENTITY(1,1) NOT NULL,
	[ID_LICENCIA] [int] NOT NULL,
	[ID_CONDUCTOR] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LICENCIA_CONDUCTOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LICENCIAS]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LICENCIAS](
	[ID_LICENCIA] [int] IDENTITY(1,1) NOT NULL,
	[FECHA_VENCIMIENTO] [date] NOT NULL,
	[ID_TIPO_LICENCIA] [int] NOT NULL,
	[TIPO_SANGRE] [varchar](5) NOT NULL,
	[FECHA_EMISION] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LICENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NUM_RODAJES]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NUM_RODAJES](
	[ID_NUM_RODAJE] [int] IDENTITY(1,1) NOT NULL,
	[NUM_RODAJE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_NUM_RODAJE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OBSERVACIONES_DATOS_EMPLEADO]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OBSERVACIONES_DATOS_EMPLEADO](
	[ID_OBSERVACION_DATOS_EMPLEADO] [int] IDENTITY(1,1) NOT NULL,
	[ID_DATOS_EMPLEADO] [int] NOT NULL,
	[OBSERVACION] [varchar](250) NOT NULL,
	[FECHA] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_OBSERVACION_DATOS_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OTROS_EMPLEADOS]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OTROS_EMPLEADOS](
	[ID_OTRO_EMPLEADO] [int] IDENTITY(1,1) NOT NULL,
	[ID_SUCURSAL] [int] NOT NULL,
	[ID_DATOS_EMPLEADO] [int] NOT NULL,
	[CATEGORIA] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_OTRO_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PARADAS]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PARADAS](
	[ID_PARADA] [int] IDENTITY(1,1) NOT NULL,
	[PARADA_PARTIDA] [varchar](50) NOT NULL,
	[PARADA_DESTINO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PARADA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PASAJEROS]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PASAJEROS](
	[ID_PASAJERO] [int] IDENTITY(1,1) NOT NULL,
	[ID_DATOS_PERSONA] [int] NOT NULL,
	[CORREO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PASAJERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PEAJES]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PEAJES](
	[ID_PEAJE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_PEAJE] [varchar](50) NOT NULL,
	[PRECIO_PAGA] [float] NOT NULL,
	[ID_NUM_RODAJE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PEAJE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RUTAS]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RUTAS](
	[ID_RUTA] [int] IDENTITY(1,1) NOT NULL,
	[LUGAR_PARTIDA] [varchar](100) NOT NULL,
	[LUGAR_DESTINO] [varchar](100) NOT NULL,
	[CANTIDAD_PARADAS] [int] NOT NULL,
	[ID_PARADA] [int] NOT NULL,
	[TIEMPO_VIAJE] [time](7) NOT NULL,
	[PRECIO] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_RUTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RUTAS_PEAJES]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RUTAS_PEAJES](
	[ID_RUTA_PEAJE] [int] IDENTITY(1,1) NOT NULL,
	[ID_RUTA] [int] NOT NULL,
	[ID_PEAJE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_RUTA_PEAJE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SOCIOS]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOCIOS](
	[ID_SOCIO] [int] IDENTITY(1,1) NOT NULL,
	[ID_DATOS_PERSONA] [int] NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SOCIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SOCIOS_TELEFONOS]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SOCIOS_TELEFONOS](
	[ID_SOCIOS_TELEFONO] [int] IDENTITY(1,1) NOT NULL,
	[ID_SOCIO] [int] NOT NULL,
	[TELEFONO] [varchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SOCIOS_TELEFONO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUCURSAL_RUTAS]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCURSAL_RUTAS](
	[ID_SUCURSAL_RUTA] [int] IDENTITY(1,1) NOT NULL,
	[ID_SUCURSAL] [int] NOT NULL,
	[ID_RUTA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SUCURSAL_RUTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUCURSAL_TELEFONOS]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUCURSAL_TELEFONOS](
	[ID_SUCURSAL_TELEFONO] [int] IDENTITY(1,1) NOT NULL,
	[ID_SUCURSAL] [int] NOT NULL,
	[TELEFONO] [varchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SUCURSAL_TELEFONO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUCURSALES]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUCURSALES](
	[ID_SUCURSAL] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_SUCURSAL] [varchar](50) NOT NULL,
	[ID_DIRECCION] [int] NOT NULL,
	[ID_EMPRESA_PERTENECE] [int] NOT NULL,
	[ID_NOMBRE_ENCARGADO] [int] NOT NULL,
	[ID_HORARIO] [int] NOT NULL,
	[CANTIDAD_BUSES_SUCURSAL] [int] NOT NULL,
	[DIAS_ATENCION] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SUCURSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAMANIOS_BUS]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAMANIOS_BUS](
	[ID_TAMANIO_BUS] [int] IDENTITY(1,1) NOT NULL,
	[TAMANIO_BUS] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TAMANIO_BUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPOS_BUS]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_BUS](
	[ID_TIPO_BUS] [int] IDENTITY(1,1) NOT NULL,
	[ID_TAMANIO] [int] NOT NULL,
	[ID_COMODIDAD] [int] NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
	[TAFIFA] [decimal](2, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_BUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIPOS_LICENCIA]    Script Date: 14/05/2020 19:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPOS_LICENCIA](
	[ID_TIPO_LICENCIA] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_LICENCIA] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_LICENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ASISTENTES_CONDUCTOR]  WITH CHECK ADD FOREIGN KEY([ID_DATOS_EMPLEADO])
REFERENCES [dbo].[DATOS_EMPLEADOS] ([ID_DATOS_EMPLEADO])
GO
ALTER TABLE [dbo].[ATENCION_PASAJEROS]  WITH CHECK ADD FOREIGN KEY([ID_DATOS_EMPLEADO])
REFERENCES [dbo].[DATOS_EMPLEADOS] ([ID_DATOS_EMPLEADO])
GO
ALTER TABLE [dbo].[BOLETOS]  WITH CHECK ADD FOREIGN KEY([ID_BUS])
REFERENCES [dbo].[BUSES] ([ID_BUS])
GO
ALTER TABLE [dbo].[BOLETOS]  WITH CHECK ADD FOREIGN KEY([ID_RUTA])
REFERENCES [dbo].[RUTAS] ([ID_RUTA])
GO
ALTER TABLE [dbo].[BOLETOS]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_BUS])
REFERENCES [dbo].[TIPOS_BUS] ([ID_TIPO_BUS])
GO
ALTER TABLE [dbo].[BOLETOS_PASAJEROS]  WITH CHECK ADD FOREIGN KEY([ID_BOLETO])
REFERENCES [dbo].[BOLETOS] ([ID_BOLETO])
GO
ALTER TABLE [dbo].[BOLETOS_PASAJEROS]  WITH CHECK ADD FOREIGN KEY([ID_PASAJERO])
REFERENCES [dbo].[PASAJEROS] ([ID_PASAJERO])
GO
ALTER TABLE [dbo].[BUSES]  WITH CHECK ADD FOREIGN KEY([ID_ASISTENTE_CONDUCTOR])
REFERENCES [dbo].[ASISTENTES_CONDUCTOR] ([ID_ASISTENTE_CONDUCTOR])
GO
ALTER TABLE [dbo].[BUSES]  WITH CHECK ADD FOREIGN KEY([ID_CONDUCTOR_ASIGNADO])
REFERENCES [dbo].[CONDUCTORES] ([ID_CONDUCTOR])
GO
ALTER TABLE [dbo].[BUSES]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADOS_BUS] ([ID_ESTADO_BUS])
GO
ALTER TABLE [dbo].[BUSES]  WITH CHECK ADD FOREIGN KEY([ID_RUTA_ASIGNADO])
REFERENCES [dbo].[RUTAS] ([ID_RUTA])
GO
ALTER TABLE [dbo].[BUSES]  WITH CHECK ADD FOREIGN KEY([ID_SUCURSAL])
REFERENCES [dbo].[SUCURSALES] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[BUSES]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_BUS])
REFERENCES [dbo].[TIPOS_BUS] ([ID_TIPO_BUS])
GO
ALTER TABLE [dbo].[BUSES_COLORES]  WITH CHECK ADD FOREIGN KEY([ID_BUS])
REFERENCES [dbo].[BUSES] ([ID_BUS])
GO
ALTER TABLE [dbo].[BUSES_COLORES]  WITH CHECK ADD FOREIGN KEY([ID_COLOR])
REFERENCES [dbo].[COLORES] ([ID_COLORES])
GO
ALTER TABLE [dbo].[CONDUCTORES]  WITH CHECK ADD FOREIGN KEY([ID_DATOS_EMPLEADO])
REFERENCES [dbo].[DATOS_EMPLEADOS] ([ID_DATOS_EMPLEADO])
GO
ALTER TABLE [dbo].[CORREOS_DATOS_EMPLEADOS]  WITH CHECK ADD FOREIGN KEY([ID_DATOS_EMPLEADO])
REFERENCES [dbo].[DATOS_EMPLEADOS] ([ID_DATOS_EMPLEADO])
GO
ALTER TABLE [dbo].[DATOS_EMPLEADOS]  WITH CHECK ADD FOREIGN KEY([ID_DATOS_PERSONA])
REFERENCES [dbo].[DATOS_PERSONAS] ([ID_DATOS_PERSONA])
GO
ALTER TABLE [dbo].[DATOS_EMPLEADOS]  WITH CHECK ADD FOREIGN KEY([ID_HORARIO])
REFERENCES [dbo].[HORARIOS] ([ID_HORARIO])
GO
ALTER TABLE [dbo].[DATOS_PERSONAS]  WITH CHECK ADD FOREIGN KEY([ID_DIRECCION])
REFERENCES [dbo].[DIRECCIONES] ([ID_DIRECCION])
GO
ALTER TABLE [dbo].[EMPRESA_SOCIOS]  WITH CHECK ADD FOREIGN KEY([ID_EMPRESA])
REFERENCES [dbo].[EMPRESAS] ([ID_EMPRESA])
GO
ALTER TABLE [dbo].[EMPRESA_SOCIOS]  WITH CHECK ADD FOREIGN KEY([ID_SOCIO])
REFERENCES [dbo].[SOCIOS] ([ID_SOCIO])
GO
ALTER TABLE [dbo].[EMPRESAS]  WITH CHECK ADD FOREIGN KEY([ID_DIRECCION])
REFERENCES [dbo].[DIRECCIONES] ([ID_DIRECCION])
GO
ALTER TABLE [dbo].[EMPRESAS_BUSES]  WITH CHECK ADD FOREIGN KEY([ID_BUS])
REFERENCES [dbo].[BUSES] ([ID_BUS])
GO
ALTER TABLE [dbo].[EMPRESAS_BUSES]  WITH CHECK ADD FOREIGN KEY([ID_EMPRESA])
REFERENCES [dbo].[EMPRESAS] ([ID_EMPRESA])
GO
ALTER TABLE [dbo].[GUARDIAS]  WITH CHECK ADD FOREIGN KEY([ID_DATOS_EMPLEADO])
REFERENCES [dbo].[DATOS_EMPLEADOS] ([ID_DATOS_EMPLEADO])
GO
ALTER TABLE [dbo].[LICENCIA_CONDUCTORES]  WITH CHECK ADD FOREIGN KEY([ID_CONDUCTOR])
REFERENCES [dbo].[CONDUCTORES] ([ID_CONDUCTOR])
GO
ALTER TABLE [dbo].[LICENCIA_CONDUCTORES]  WITH CHECK ADD FOREIGN KEY([ID_LICENCIA])
REFERENCES [dbo].[LICENCIAS] ([ID_LICENCIA])
GO
ALTER TABLE [dbo].[LICENCIAS]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_LICENCIA])
REFERENCES [dbo].[TIPOS_LICENCIA] ([ID_TIPO_LICENCIA])
GO
ALTER TABLE [dbo].[OBSERVACIONES_DATOS_EMPLEADO]  WITH CHECK ADD FOREIGN KEY([ID_DATOS_EMPLEADO])
REFERENCES [dbo].[DATOS_EMPLEADOS] ([ID_DATOS_EMPLEADO])
GO
ALTER TABLE [dbo].[OTROS_EMPLEADOS]  WITH CHECK ADD FOREIGN KEY([ID_DATOS_EMPLEADO])
REFERENCES [dbo].[DATOS_EMPLEADOS] ([ID_DATOS_EMPLEADO])
GO
ALTER TABLE [dbo].[OTROS_EMPLEADOS]  WITH CHECK ADD FOREIGN KEY([ID_SUCURSAL])
REFERENCES [dbo].[SUCURSALES] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[PASAJEROS]  WITH CHECK ADD FOREIGN KEY([ID_DATOS_PERSONA])
REFERENCES [dbo].[DATOS_PERSONAS] ([ID_DATOS_PERSONA])
GO
ALTER TABLE [dbo].[PEAJES]  WITH CHECK ADD FOREIGN KEY([ID_NUM_RODAJE])
REFERENCES [dbo].[NUM_RODAJES] ([ID_NUM_RODAJE])
GO
ALTER TABLE [dbo].[RUTAS]  WITH CHECK ADD FOREIGN KEY([ID_PARADA])
REFERENCES [dbo].[PARADAS] ([ID_PARADA])
GO
ALTER TABLE [dbo].[RUTAS_PEAJES]  WITH CHECK ADD FOREIGN KEY([ID_PEAJE])
REFERENCES [dbo].[PEAJES] ([ID_PEAJE])
GO
ALTER TABLE [dbo].[RUTAS_PEAJES]  WITH CHECK ADD FOREIGN KEY([ID_RUTA])
REFERENCES [dbo].[RUTAS] ([ID_RUTA])
GO
ALTER TABLE [dbo].[SOCIOS]  WITH CHECK ADD FOREIGN KEY([ID_DATOS_PERSONA])
REFERENCES [dbo].[DATOS_PERSONAS] ([ID_DATOS_PERSONA])
GO
ALTER TABLE [dbo].[SOCIOS_TELEFONOS]  WITH CHECK ADD FOREIGN KEY([ID_SOCIO])
REFERENCES [dbo].[SOCIOS] ([ID_SOCIO])
GO
ALTER TABLE [dbo].[SUCURSAL_RUTAS]  WITH CHECK ADD FOREIGN KEY([ID_RUTA])
REFERENCES [dbo].[RUTAS] ([ID_RUTA])
GO
ALTER TABLE [dbo].[SUCURSAL_RUTAS]  WITH CHECK ADD FOREIGN KEY([ID_SUCURSAL])
REFERENCES [dbo].[SUCURSALES] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[SUCURSAL_TELEFONOS]  WITH CHECK ADD FOREIGN KEY([ID_SUCURSAL])
REFERENCES [dbo].[SUCURSALES] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[SUCURSALES]  WITH CHECK ADD FOREIGN KEY([ID_DIRECCION])
REFERENCES [dbo].[DIRECCIONES] ([ID_DIRECCION])
GO
ALTER TABLE [dbo].[SUCURSALES]  WITH CHECK ADD FOREIGN KEY([ID_EMPRESA_PERTENECE])
REFERENCES [dbo].[EMPRESAS] ([ID_EMPRESA])
GO
ALTER TABLE [dbo].[SUCURSALES]  WITH CHECK ADD FOREIGN KEY([ID_HORARIO])
REFERENCES [dbo].[HORARIOS] ([ID_HORARIO])
GO
ALTER TABLE [dbo].[SUCURSALES]  WITH CHECK ADD FOREIGN KEY([ID_NOMBRE_ENCARGADO])
REFERENCES [dbo].[DATOS_PERSONAS] ([ID_DATOS_PERSONA])
GO
ALTER TABLE [dbo].[TIPOS_BUS]  WITH CHECK ADD FOREIGN KEY([ID_COMODIDAD])
REFERENCES [dbo].[COMODIDADES_BUS] ([ID_COMODIDAD_BUS])
GO
ALTER TABLE [dbo].[TIPOS_BUS]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADOS_BUS] ([ID_ESTADO_BUS])
GO
ALTER TABLE [dbo].[TIPOS_BUS]  WITH CHECK ADD FOREIGN KEY([ID_TAMANIO])
REFERENCES [dbo].[TAMANIOS_BUS] ([ID_TAMANIO_BUS])
GO
